html {
  background-color: #ecf0f1;
}

body {
  color: #2c3e50;
  background-color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  padding: 50px;
}

@media screen and (min-width: 600px) {
  body {
    margin: 20px 50px 20px 50px;
    border: 1px solid #bdc3c7;
  }
}

@media screen and (max-width: 599px) {
  body {
    margin: 0;
  }
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

header img {
  width: 200px;
  border-radius: 50%;
}

footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid #2c3e50;
  font-size: 12px;
}

footer p {
  margin-top: 0;
}
